{% extends 'layout.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
{% endblock %}

{% block content %}
        <main>
            <div id="topicsSection">
                <h3>Browse Topics</h3>

                <div id="topics">

                    
                    <div class="topic">
                        <a href="{% url 'index' %}" class="topicName">All</a>
                        <button id="allBtn">{{roomCount}}</button>
                    </div>

                    {% for topic in topics %}
                    <div class="topic">
                        <a href="{% url 'index' %}?q={{topic}}">{{topic}}</a>
                        <button class="topicBtn">Follow</button>
                    </div>
                    {% endfor %}

                </div>
                <div class="more">
                    <h4 id="moreBtn">More</h4>
                </div>
            </div>
            
            <div id="roomsSection">
                <div class="mobileView">
                    <form id="searchMobile" action="" method="get">
                        <input type="text" name="q" placeholder="Search..." id="searchInput">
                    </form>
                    <div id="tabs">
                        <a href="">Topics</a>
                        <a href="">Activity</a>
                    </div>
                </div>
                <div id="heading">
                    <div id="titleContainer">
                        <h3>Rooms</h3>
                        <p>Currently displaying {{roomCount}} 
                            {% if roomCount > 1 %}
                            rooms
                            {% else %}
                            room
                            {% endif %}</p>
                    </div>
                    {% if request.user.is_authenticated %}
                    <button><a href="{% url 'create-room' %}">Create Room</a></button>
                    {% endif %}
                </div>
                <div class="container">
                    {% for room in rooms %}
                    <div class="room">
                        <div class="roomHeading">
                            <div class="host">
                                <img src="{{room.host.profile_picture.url}}" alt="Host profile picture">
                                <a href="{% url 'profile' room.host.username %}"><strong>Host</strong> @{{room.host}}</a>
                            </div>
                            <p class="timePosted">{{room.updated|timesince}}</p>
                        </div>
                        <div class="roomContent">
                            <a href="{% url 'room' room.id %}" class="roomTitle">{{room.name}}</a>
                            <p class="roomDesc">
                            {% if room.description|length > 100 %}
                                {{room}}......
                            {% else %}
                                {{room.description}}
                            {% endif %}
                    </p>
                            <div class="roomStats">
                                <div class="joinedStats">
                                    <div class="dotIcon"></div>
                                    <p class="joined">{{room.participants.count}} joined</p>
                                </div>
                                <a style="color: white; text-decoration: none;" class="roomTopic" href="{% url 'index' %}?q={{room.topic}}">{{room.topic}}</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>

            <div id="activitySection">
                <h3>Activity</h3>
                <div class="activityContent">
                    {% for post in activities %}
                    <div class="post">
                        <div class="host">
                            <img class="hostProfile" src="{{ post.user.profile_picture.url }}" alt="Host profile picture">
                            <p><strong>Host</strong> <a href="{% url 'profile' post.user.username%}">@{{post.user}}</a></p>
                        </div>
                        <div class="content">
                            <h6>Replied to <a href="{% url 'room' post.room.id %}" class="userRepliedTo">{{post.room.name}}<a/></h6>
                            <p class="activityMessageContent">{{post.message}}</p>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </main>
{% endblock %}