{% load static %}
<!-- start of navigation bar -->
    <nav>
        <a id="logo" href="{% url 'index' %}"">StudyBud</a>
        <form id="search" action="" method="get">
            <input type="text" name="q" placeholder="Search..." id="searchInput">
        </form>
        <div id="user">

            <!-- if user is not logged in -->
            {% if not request.user.is_authenticated %}
            <div class="userProfile">
                <div class="avatarContainer">
                    <img src="{% static 'images/avatar.png' %}" alt="user avatar" id="userAvatar" />
                </div>
                <a href="{% url 'login' %}">Login</a>
            </div>
            <!-- end of if user is not logged in -->
            {% else %}
            <!-- if user is logged in -->
            <div class="userProfile">
                <div class="avatarContainer">
                    <img src="{{request.user.profile_picture.url}}" alt="user avatar" id="userAvatar" />
                </div>
                <div class="userDetails">
                    <a href="" class="username">{{request.user.first_name}}</a>
                    <span class="userTag">@{{request.user.username}}</span>
                </div>
            </div>
            <img src="{% static 'images/drop-down.svg' %}" id="dropdown" alt="dropdown button">
            <!-- end of logged in user -->
            {% endif %}

        </div>
        
        <div class="dropDownMenu" id="dropDownMenu">
            <div class="settings" id="settings">
                <img src="{% static '/images/settings-icon.svg' %}" alt="settings icon">
                <p>Settings</p>
            </div>
            <div class="logout" id="logout">
                <img src="{% static '/images/logout-icon.svg' %}" alt="logout icon">
                <p>Logout</p>
            </div>
        </div>
        
    </nav>

    {% if request.user.is_authenticated %}
    <script src="{% static 'javascript/navDropDown.js' %}"></script>
    {% endif %}
