* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: var(--bgColor);
}


body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: rgb(31, 48, 75) !important;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


a:hover {
    text-underline-offset: 3px;
    text-decoration: underline;
}

.alerts {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 30;
    display: grid;
    place-items: center;
    padding: 8px 0;
}

.alerts > li {
    font-size: 1.3rem;
    color: white;
    font-weight: 600;
    list-style-type: none;
}



:root {
    --mainColor: #0F2027;
    --bgColor: #1E272C;
    --secondaryColor: #112751;
    --tertiaryColor: #2C5364;
}